/* Music Page */
.box-search-form {
  padding-left: 36px;
}

.box-play {
  margin-left: 10px;
  width: 120px;
  border: 1px solid black;
  cursor: pointer;
}

.box-list-music {
  margin-top: 40px;
}

.list-audio {
  display: flex;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  align-items: center;
}

.cover-audio {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 5px;
}

.btn-play {
  font-size: 25px;
  border: none;
  margin-right: 30px;
  margin-left: 26px;
  cursor: pointer;
}

.add-cart {
  margin-left: auto;
  margin-right: 30px;
}

.toast-overwrite {
  height: 0px !important;
  line-height: 0px !important;
  padding: 0 0px !important;
  top: 0px !important;
  background-color: transparent !important;
  min-height: 0px !important;
  margin-top: -10px !important;
}

.add-playlist {
  margin-left: auto;
  margin-right: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.fa-cart-arrow-down {
  color: #fff;
}

.btn-cart {
  cursor: pointer;
}

.download-sound {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Playlist */
.icon {
  font-size: 45px;
  margin-top: -20px;
  margin-bottom: 40px;
}
/* Modal */
.modal {
  width: 80% !important;
}
.box-plan {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 20px;
}

.title-plan {
  background: -webkit-linear-gradient(#f08d6d, #f01f39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sound-plan {
  background: -webkit-linear-gradient(#f08d6d, #f01f39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-plan {
  background: -webkit-linear-gradient(#f08d6d, #f01f39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

.logo {
  display: block;
  background: -webkit-linear-gradient(#f08d6d, #f01f39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  text-align: center;
}

.content-plan {
  display: block;
  height: 15 0px;
  overflow: auto;
}

.btn-add {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: #f01f39; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f08d6d,
    #f01f39
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f08d6d,
    #f01f39
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
  border-radius: 2px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .add-cart {
    margin-right: 2px;
  }

  .hearder-playlist h2 {
    font-size: 20px;
  }

  .icon {
    font-size: 20px;
  }

  .btn-play {
    margin-right: 30px;
    margin-left: 20px;
  }
}
