.card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 38%;
  height: 500px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #fff;
  color: black;
}

.card-profile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar-profile {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -70px;
  border: 8px solid #fff;
}

.background-profile {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 150px;
  background-position: center center;
  background-repeat: 'no-repeat';
  background-size: 'cover';
}

.btn-edit {
  display: block;
  margin-top: -50px;
  margin-left: 90%;
  background-color: #630503 !important;
}

.container-description {
  padding: 60px 26px;
}

/* User Edit */

.asterick {
  color: #bbb6b6;
  font-size: 12px;
}
.photo-show {
  width: 100px;
  height: 100px;
  border: 2px solid #630503;
  border-radius: 5px;
}
.photo-show img {
  max-width: 100%;
  height: auto;
}
.upload {
  padding-left: 15px;
}

.upload-button {
  width: 50px;
  height: 50px;
  background-color: #630503;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  padding-left: 13px;
  padding-top: 6px;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.delete-picture {
  position: absolute;
  cursor: pointer;
  margin-left: 96px;
  margin-top: -12px;
  color: #630503;
}

@media only screen and (max-width: 600px) {
  .card-profile {
    width: 100%;
  }
}
